@import 'styles/base.scss';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-color: transparent;
  cursor: pointer;
  font-family: $font-bold;
  opacity: 1;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);

  &.rootAnchor {
    justify-content: space-between;
  }

  &.small {
    border: 0.2rem solid;
    font-size: 1.4rem;
    padding: 0.6rem 1rem;

    .icon {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1.2rem;
    }
    .iconUnsized {
      margin-right: 1.2rem;
      margin-left: 0.6rem;
    }

    @include xl {
      font-size: 1.5rem;
      padding: 0.8rem 2.4rem;
      .iconUnsized {
        margin-left: 0;
      }
    }
  }

  &.medium {
    border: 3px solid;
    font-size: 1.6rem;
    padding: 1.2rem 2rem;

    .icon {
      width: 3.2rem;
      height: 3.2rem;
      margin-right: 1.2rem;
    }
    .iconUnsized {
      margin-right: 1.2rem;
      margin-left: 0.6rem;
    }
  }

  &.rounded {
    border-radius: 6.4rem;
  }

  &.rectangle {
    border-radius: 1.2rem;
  }

  &.danger {
    background: $color-danger700;
    color: $color-contrast;
    border-color: $color-danger700;

    &:hover {
      border-color: $color-danger600;
    }

    &:active {
      background: $color-danger600;
      border-color: $color-danger600;
    }
  }

  &.dark {
    background: $color-invertedContrast;
    color: $color-contrast;
    border-color: $color-neutral500;
    &:hover {
      color: $color-secondary300;
    }
  }

  &.primary100 {
    background: $color-primary400;
    color: $color-contrast;
    border-color: $color-primary400;

    &:hover {
      border-color: #33335f;
    }

    &:active {
      border-color: #33335f;
      background: #33335f;
    }
  }

  &.primary500 {
    background: $color-primary500;
    color: $color-contrast;
    border-color: $color-primary500;

    &:hover {
      border-color: #051d5b;
    }

    &:active {
      border-color: #051d5b;
      background: #051d5b;
    }
  }

  &.success {
    background: $color-success500;
    color: $color-contrast;
    border-color: $color-success500;

    &:hover {
      border-color: $color-success300;
    }

    &:active {
      background: $color-success300;
      border-color: $color-success300;
    }
  }

  &.gradient500 {
    background: $color-secondary-gradient500;
    color: $color-contrast;
    border: none;
  }

  &.gradient700 {
    background: $color-secondary-gradient700;
    color: $color-contrast;
    border: none;
  }

  &.outlineGradient500 {
    color: $color-contrast;
    border: solid 0.2rem transparent;
    background: $color-primary-gradient500;
    background-origin: border-box;
    box-shadow: 0 10rem 1rem $color-invertedContrast inset;
    transition: 0s;
    &:hover {
      box-shadow: none;
      background: $color-primary-gradient100;
      background-origin: border-box;
      border: solid 2px transparent;
    }
  }

  &.network {
    background: $color-secondary-gradient300;
    color: $color-contrast;
    border-color: $color-primary450;
  }

  &.loading {
    &:active,
    &:hover {
      border-color: transparent;
    }
  }

  &:disabled {
    opacity: 0.4;
    cursor: none;

    &:active,
    &:hover {
      border-color: transparent;
    }
  }
}

.loader {
  margin: 0 auto;
}

.icon,
.iconUnsized {
  display: flex;
  align-items: center;
  justify-content: center;
}
