@import '../../../styles/_base.scss';

.root {
  display: none;

  @include lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
  border-bottom: 1px solid $color-neutral100;

  .socials {
    > * {
      &:not(&:first-child) {
        margin-left: 2.4rem;
      }
    }

    .socialItem {
      width: 2.4rem;
      cursor: pointer;
      fill: $color-contrast;
    }
  }

  .link {
    display: flex;
    align-items: center;
    color: $color-contrast;
    font-family: $font-bold;
    font-size: 1.6rem;
    cursor: pointer;

    > * {
      margin: 0.8rem;
    }
  }
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;

  .credentials {
    background: $color-primary-gradient500;
    background-clip: text;
    text-align: start;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
  }

  .linksWrapper {
    display: flex;
    align-items: center;

    .footerLink {
      color: $color-contrast;
      font-size: 1.2rem;
    }

    > * {
      &:not(&:first-child) {
        margin-left: 2.4rem;
      }
    }
  }
}
