@import '../../../styles/_base.scss';

.networkPill {
  display: flex;
  align-items: center;
  backdrop-filter: blur(4px);
  border-radius: 5rem;
  border: 2px solid #0d4bfe4d;
  background: $color-secondary-gradient300;
  padding: 0.8rem 2.4rem;
  .networkEnv {
    color: $color-contrast;
    font-family: $font-bold;
    font-size: 1.2rem;
  }
}

.connectIndicator {
  margin-right: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .outterIndicator {
    @keyframes indicatorScale {
      0%,
      100% {
        transform: scale(0.8);
        opacity: 0.2;
      }
      50% {
        transform: scale(0.9);
        opacity: 0.3;
      }
    }

    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 100%;
    animation: 1.6s ease-in-out 0s infinite normal none running indicatorScale;
  }

  .innerIndicator {
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 100%;
  }
  .Mainnet {
    background: $color-primary500;
  }

  .Alphanet {
    background: #ff0062 !important;
  }

  .Testnet {
    background: #ff8500 !important;
  }
}
