@import 'styles/base.scss';

.wrapper {
  border-radius: 2rem;
  backdrop-filter: blur(120px);
  background: rgba(255, 255, 255, 0.06);
  padding: 1.6rem;
  margin: 1.6rem;
  font-size: 1.4rem;
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    color: rgb(255, 255, 255, 0.5);
    .title {
      font-family: $font-bold;
    }
    .clipboard {
      display: flex;
      align-items: center;
    }

    .title {
      position: relative;
      .linkArrow {
        margin-left: 1.2rem;
        position: relative;
        top: 0.3rem;

        path {
          fill: $color-neutral100;
        }
      }

      &:hover {
        color: $color-primary500;

        path {
          fill: $color-primary500;
        }
      }
    }
  }
  .snippet {
    border-radius: 2rem;
    background: #011627;
    padding: 3.2rem;
  }
  @include lg {
    // width: 50vw;
  }
}
