@import '../../../styles/_base.scss';

.root {
  @include lg {
    display: none;
  }
}

.border {
  border-top: 1px solid $color-neutral100;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  .socials {
    margin: 1.5rem 0;
    > * {
      &:not(&:first-child) {
        margin-left: 2.4rem;
      }
    }

    .socialItem {
      width: 2.4rem;
      cursor: pointer;
      fill: $color-contrast;
    }
  }
}

.credentials {
  .bold {
    font-size: 1.2rem;
    font-family: $font-bold;
    > a {
      font-family: $font-bold;
    }
  }
  .gradiant {
    background: $color-primary-gradient500;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.linksWrapper {
  display: flex;
  align-items: center;

  .footerLink {
    color: $color-contrast;
    font-size: 1.2rem;
    font-family: $font-bold;
    &:hover {
      color: $color-neutral100;
    }
  }

  > * {
    margin-top: 1.5rem;
    &:not(&:first-child) {
      margin-left: 1.2rem;
    }
  }
}
