@import '../../../styles/_base.scss';

.nav {
  display: none;
  @include lg {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  //   @include xl {
  //     padding: 6.4rem 6.4rem 4rem !important;
  //   }
}

.logo {
  display: flex;
  align-items: center;
}

.logoTitle {
  color: $color-contrast;
  font-family: $font-bold;
  font-size: 2rem;
  margin-left: 0.8rem;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > * {
    &:not(:first-child) {
      margin-left: 2rem;
    }
  }

  .links {
    display: flex;
    > * {
      font-size: 1.2rem;
      font-family: $font-regular;
      list-style: none;
      &:not(:first-child) {
        margin-left: 2rem;
      }
      & a {
        font-family: $font-bold;
        &:hover {
          color: $color-secondary300;
        }
        @include xl {
          font-size: 1.6rem;
        }
      }
    }
  }
}
